<ion-pane>
    
    <form name="bloodSugarForm" novalidate>
        
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Blood Sugar Level</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark-circled" 
                    ng-click="showConfirm()" type="submit"
                    form="bloodSugarForm"
                    ng-show="!bloodSugarForm.value.$error.required &&
                             !bloodSugarForm.date.$error.required &&
                             !bloodSugarForm.time.$error.required &&
                             !bloodSugarForm.unit.$error.required &&
                             !bloodSugarForm.value.$invalid">
            </button>
        </div>
    </ion-header-bar>
    
    <ion-content class="custom-content">
        
        <ion-list class="custom-datetime-list">
            <ion-item class="item-input custom-datetime-item">
                &nbsp;  &nbsp; Date:
                <i class="icon ion-calendar placeholder-icon"></i>
                <input type="date" min="{{bloodSugarObject.MinDate}}" 
                       max="{{bloodSugarObject.MaxDate}}"
                       ng-model="bloodSugarObject.date"
                       name="date" required>
            </ion-item>
            <ion-item class="item-input custom-datetime-item">
                &nbsp; &nbsp; Time:
                <i class="icon ion-ios-time placeholder-icon"></i>
                <input type="time" ng-model="bloodSugarObject.time"
                       name="time" required>
            </ion-item>
        </ion-list>
        
        <div class="card custom-card">
            <div class="item">
                <span>Blood Sugar Value</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="number" placeholder="12" style="width: 100px" 
                          ng-model="bloodSugarObject.value"
                          ng-pattern="/^[0-9]{1,5}$/"
                          name="value" required>
                   <input type="text" ng-model="bloodSugarObject.unit" class="custom-unit" 
                           name="unit" required>
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Notes</span>
            </div>
            <div class="item">
                <label class="item-input">
                   <textarea placeholder="..." rows="2" ng-model="bloodSugarObject.notes" name="notes"></textarea>
                </label>
            </div>
        </div>
        
    </ion-content>
    
    </form>
    
</ion-pane>
