<ion-pane>
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Blood Sugar Level</h1>
    </ion-header-bar>
    <ion-content class="padding">
        
        <div class="card custom-card">
            <div class="item">
                <span>Blood Sugar Value</span>
            </div>
            <div class="item custom-input">
                <label class="item-input item-icon-right">
                   <input type="number" placeholder="50">
                   <button class="button-icon ion-android-more-vertical"></button> 
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Notes</span>
            </div>
            <div class="item">
                <label class="item-input">
                   <textarea placeholder="..." rows="2"></textarea>
                </label>
            </div>
        </div>
        
    </ion-content>
</ion-pane>