<ion-pane>
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">General Reminder</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark-circled" 
                    ng-click="showConfirm()">
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="custom-content">
        
        <ion-list class="custom-datetime-list">
            <ion-item class="item-input custom-datetime-item">
                &nbsp;  &nbsp; Date:
                <i class="icon ion-calendar placeholder-icon"></i>
                <input type="date" min="{{genReminderObj.MinDate}}" ng-model="genReminderObj.Date">
            </ion-item>
            <ion-item class="item-input custom-datetime-item">
                &nbsp; &nbsp; Time:
                <i class="icon ion-ios-time placeholder-icon"></i>
                <input type="time" ng-model="genReminderObj.Time">
            </ion-item>
        </ion-list>
        
        <div class="card custom-card">
            <div class="item">
                <span>Name</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="text" placeholder="eg. Insulin injection"> 
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Description</span>
            </div>
            <div class="item">
                <label class="item-input">
                    <textarea placeholder="Before meal" rows="2"></textarea>
                </label>
            </div>
        </div>
        
        <!--
        <div class="card custom-card">
            <div class="item">
                <span>Date</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="date" ng-model="genReminderObj.Date" 
                          min="{{genReminderObj.MinDate}}"
                          placeholder="mm/dd/yyyy"> 
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Time</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="time" ng-model="genReminderObj.Time"
                          placeholder="HH:mm AM/PM"> 
                </label>
            </div>
        </div>
        -->
    </ion-content>
</ion-pane>