<ion-view view-title="Blood Care">
    <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
            <ion-slide>
                <div class="demo-bg"><h1>Demo Pic 1</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="demo-bg"><h1>Demo Pic 2</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="demo-bg"><h1>Demo Pic 3</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="demo-bg"><h1>Demo Pic 4</h1></div>
            </ion-slide>
       </ion-slide-box>
    </ion-content>
</ion-view>