<ion-pane>
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Meal Intake</h1>
    </ion-header-bar>
    <ion-content class="padding">
        
        
        
        <div class="card custom-card">
            <div class="item  item-icon-right">
                <span>Meal Category</span>
                <i class="icon ion-android-more-vertical custom-more"
                   ui-sref="mealCategory">
                </i>
            </div>
            <div class="item" ng-click="showMealCategory()">
                 <a class="custom-popup-text">{{selectedMealCategory}}</a>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Meal Details</span>
            </div>
            <div class="item">
                <label class="item-input">
                   <textarea placeholder="Salad, Tomato Soup" rows="2"></textarea>
                </label>
            </div>
        </div>
        
    </ion-content>
</ion-pane>

<script type="text/ng-template" id="meal-popup.html">
    <ion-list>
        <ion-item ng-repeat="meal in mealCategories" ng-click="closeMealCat(meal)" class="select-item">
            <a class="custom-selectbox">{{meal}}</a>
        </ion-item>
    </ion-list>
</script>
