<ion-pane>
    
    <form name="medicineIntakeForm" novalidate>
        
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Medicine Intake</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark-circled" 
                    ng-click="showConfirm()"
                    type="submit"
                    form="medicineIntakeForm" 
                    ng-show="!medicineIntakeForm.value.$error.required &&
                             !medicineIntakeForm.date.$error.required &&
                             !medicineIntakeForm.time.$error.required &&
                             !medicineIntakeForm.name.$error.required &&
                             !medicineIntakeForm.unit.$error.required &&
                             !medicineIntakeForm.value.$invalid">
            </button>
        </div>
    </ion-header-bar>
    
    <ion-content class="custom-content">
            
            <ion-list class="custom-datetime-list">
                <ion-item class="item-input custom-datetime-item">
                    &nbsp;  &nbsp; Date:
                    <i class="icon ion-calendar placeholder-icon"></i>
                    <input type="date" min="{{medicineIntakeObject.MinDate}}" 
                        max="{{medicineIntakeObject.MaxDate}}"
                        ng-model="medicineIntakeObject.date"
                        name="date" required>
                </ion-item>
                <ion-item class="item-input custom-datetime-item">
                    &nbsp; &nbsp; Time:
                    <i class="icon ion-ios-time placeholder-icon"></i>
                    <input type="time" ng-model="medicineIntakeObject.time" 
                           name="time" required>
                </ion-item>
            </ion-list>
            
            <div class="card custom-card">
                <div class="item item-icon-right">
                    <span>Medication Name</span>
                    <i class="icon ion-android-more-vertical custom-more"
                    ui-sref="medicineName">
                    </i>
                </div>
                <div class="item custom-input" ng-click="showMeds()">
                    <input type="text" class="custom-popup-text" 
                           ng-model="medicineIntakeObject.name" 
                           name="name" required disabled>
                </div>
            </div>
            
            <div class="card custom-card">
                <div class="item">
                    <span>Medication Quantity</span>
                </div>
                <div class="item custom-input">
                    <label class="item-input">
                    <input type="number" placeholder="123" 
                           ng-model="medicineIntakeObject.value"
                           ng-pattern="/^[0-9]{1,5}$/" 
                           name="value" required>
                    <input type="text" ng-model="medicineIntakeObject.unit" class="custom-unit" 
                           name="unit" required disabled>
                    </label>
                </div>
            </div>
            
            <div class="card custom-card">
                <div class="item">
                    <span>Medication Description</span>
                </div>
                <div class="item">
                    <label class="item-input">
                    <textarea placeholder="Low power" rows="2" ng-model="medicineIntakeObject.notes" name="notes"></textarea>
                    </label>
                </div>
            </div>
            
        
        
    </ion-content>
    
    </form>
    
</ion-pane>

<script type="text/ng-template" id="medicine-popup.html">

    <ion-list class="medicine-list">
        
        <ion-item ng-repeat="med in medicineList" ng-click="closeMeds(med.name, med.unit)" class="select-item">
            <a class="custom-selectbox">{{med.name}}</a>
        </ion-item>
        
    </ion-list>
    
</script>