<ion-pane>
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Medicine Intake</h1>
    </ion-header-bar>
    <ion-content class="padding">
        
        <div class="card custom-card">
            <div class="item item-icon-right">
                <span>Medication Name</span>
                <i class="icon ion-android-more-vertical custom-more" ng-click="showAddMeds()"></i>
            </div>
            <div class="item custom-input">
                <label class="item-input item-icon-right">
                   <input type="text" value="{{selectedMedicine}}" ng-click="showMeds()">
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Medication Quantity</span>
            </div>
            <div class="item custom-input">
                <label class="item-input">
                   <input type="number" placeholder="eg. 123">
                   <span type="text" ng-bind="selectedUnit" style="text-align: right"></span>
                </label>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="item">
                <span>Medication Description</span>
            </div>
            <div class="item">
                <label class="item-input">
                   <textarea placeholder="Low power" rows="2"></textarea>
                </label>
            </div>
        </div>
        
    </ion-content>
</ion-pane>

<script type="text/ng-template" id="medicine-popup.html">
    <ion-list>
        <ion-item ng-repeat="med in medicineList" ng-click="closeMeds(med.name, med.unit)" class="select-item">
            <a class="custom-selectbox">{{med.name}}</a>
        </ion-item>
    </ion-list>
</script>

<script type="text/ng-template" id="add-medicine-popup.html">
    <ion-list>
        <label class="item item-input item-floating-label">
            <span class="input-label">Medicine Name</span>
            <input type="text" placeholder="Medicine Name" ng-model="medsObj.medsname">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Medicine Unit</span>
            <input type="text" placeholder="Medicine Unit" ng-model="medsObj.medsunit">
        </label>
    </ion-list>
</script>