<ion-pane>
    
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" href="#/app/monitor" nav-direction="back">
            </a>
            <button class="button button-icon icon ion-minus-circled custom-header-delete"
             ng-click="data.showDelete = !data.showDelete"></button>
        </div>
        <h1 class="title">History</h1>
        <button class="button button-icon icon ion-plus-circled"
             ng-click="showAddMonitorPopup()"></button>
    </ion-header-bar>
    
    <ion-content class="padding">
        
       <ion-list show-delete="data.showDelete">
           
           <div ng-repeat="(key, items) in monitor">
               
               <div class="item item-divider custom-item-divider">
                   {{monitor.$keyAt(key) | date : "longDate"}}
               </div>
               
               <ion-item ng-repeat="item in items" item="item" class="item item-remove-animate custom-history-item">
                   <p class="custom-history-label">
                       {{item.title}}
                       
                   </p>
                   <p class="custom-history-value">{{item.name}} : {{item.value}} {{item.unit}}</p>
                   <span class="badge icon-badge custom-history-badge">{{toJsDate(item.time) | date : "hh:mm a"}}</span>
                   <ion-delete-button class="ion-minus-circled custom-history-delete" 
                             ng-click="deleteHistoryItem(key, item, $index)">
                   </ion-delete-button>
               </ion-item>
               
           </div>
           
       </ion-list>
        
    </ion-content>
    
</ion-pane>

<script type="text/ng-template" id="add-monitor-popup.html">
    <ion-list>
        <ion-item ng-repeat="opt in monitorFunctions" ng-click="closeMonitorPopup()" class="select-item">
            <a class="custom-selectbox" href="{{opt.url}}">{{opt.name}}</a>
        </ion-item>
    </ion-list>
</script>