<ion-pane>
    
    <ion-header-bar class="custom-bar-bg" align-title="center">
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" href="#/app/monitor" nav-direction="back">
            </a>
        </div>
        <h1 class="title">Graphs</h1>
    </ion-header-bar>
    
    <ion-content class="padding" overflow-scroll="false">
        
       <zingchart id="myChart" zc-json="myJson" zc-height="100%" zc-width="100%">
           
       </zingchart>
        
    </ion-content>
    
    <ion-footer-bar align-title="center">
       <div class="buttons">
            <button class="button button-icon icon ion-arrow-left-c"
             ng-click="getPreviousDate(monitorObject.date)"></button>
        </div>
        <h1 class="title">
            <span ng-bind="monitorObject.date"></span>
        </h1>
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-right-c"
             ng-click="getNextDate(monitorObject.date)" ng-show="hideNextDate()"></button>
        </div>
    </ion-footer-bar>
    
</ion-pane>