<ion-side-menus>
  <ion-side-menu-content>
    
    <ion-nav-bar class="custom-bar-bg" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      
      <ion-nav-buttons>
        <!--<button class="button button-icon ion-navicon" menu-toggle="left">
        </button>-->
        &nbsp;
        <img src="img/menu-icon-40x40.gif" width="33px" height="33px"  menu-toggle="left">
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  
  <ion-side-menu side="left">
    
    <ion-header-bar class="custom-bar-bg bar-profile" align-title="center">
      
      <div class="profile">
        <img class="profile-picture" src="img/logo.png">
        <h3 class="name">Blood Care</h3>
      </div>
    </ion-header-bar>
    
    <ion-content>

      <ion-list>
        

          <ion-item menu-close href="#/app/home" class="custom-item">
            <i class="custom-icon ion-ios-home" style="padding-left: 6px;"></i> Home
          </ion-item>

        
        <div ng-repeat="group in menuGroups">
            
          
            <ion-item class="item-icon-right custom-item">
                <i class="icon custom-menu-icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"
                   ng-click="toggleGroup(group)"></i>
                <a nav-direction="forward"
                   ng-href="{{group.url}}">
                   <span class="button-icon custom-icon" ng-class="group.groupIcon"></span>
                   {{group.name}}
                </a>
            </ion-item>
          
          
          <a nav-direction="forward" class="item-accordion custom-menu-sub-items"
             ng-repeat="item in group.items" ng-show="isGroupShown(group)"
             ng-href="{{item.url}}">
            <ion-item>
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{item.name}}
            </ion-item>
          </a>
          
        </div>
        
      </ion-list>

    </ion-content>
    
  </ion-side-menu>
  
</ion-side-menus>


  