<ion-pane>
    <ion-header-bar class="custom-bar-bg" align-title="center">
        
        <div class="buttons">
            <a class="button button-icon ion-ios-arrow-back" ng-click="appGoBack()" nav-direction="back">
            </a>
            <a class="button button-icon icon ion-plus-circled"
               ng-click="showAddWorkoutType()">
            </a>
        </div>
        
        <h1 class="title">Workout Type</h1>
        
        <div class="buttons">
            <a ng-click="listData.showReorder = !listData.showReorder"
               class="button button-icon icon ion-arrow-move">
            </a>
        </div>
        
    </ion-header-bar>
    <ion-content class="custom-medicine-list">
        
        <ion-list show-reorder="listData.showReorder">
                  
            <ion-item ng-repeat="typ in workoutTypes"
                      item="typ"
                      class="item-remove-animate custom-medicine-list-item"">
                      {{typ}}
                      
                      <ion-option-button class="ion-edit"
                                ng-click="showEditWorkoutType(typ)">
                      </ion-option-button>
                      
                      <ion-option-button class="ion-trash-a" 
                                 ng-click="showDeleteWorkoutType(typ)">
                      </ion-option-button>
                      
                      <ion-reorder-button class="ion-arrow-move"
                            on-reorder="moveItem(typ, $fromIndex, $toIndex)">
                      </ion-reorder-button>
            </ion-item>
            
        </ion-list>
        
    </ion-content>
</ion-pane>

<script type="text/ng-template" id="add-workoutType-popup.html">
    <div class="list custom-popup-form">
        <label class="item item-input item-floating-label">
            <span class="input-label">Workout Type Name</span>
            <input type="text" placeholder="Workout Type Name" ng-model="workoutObj.workoutType">
        </label>
    </div>
</script>

<script type="text/ng-template" id="edit-workoutType-popup.html">
    <div class="list custom-popup-form">
        <span>Workout Type Name: </span>
        <label class="item item-input">
            <input type="text" value="{{workoutObj.editworkoutType}}" ng-model="workoutObj.editworkoutType">
        </label>
    </div>
</script>

<script type="text/ng-template" id="delete-workoutType-popup.html">
    <span style="text-align: center"><b>Are you Sure?</b></span>
    <div class="list custom-popup-form custom-delete-list">
        <span>Workout Type Name: </span>
        <label class="item custom-popup-item">
            <span>{{workoutObj.deleteworkoutType}}</span>
        </label>
    </div>
</script>